<div class="row">
	<div class="col-sm-8">
		<div class="score">
			{{game.score | floor}} <ng-pluralize count="game.score | floor" when="{'0': 'people', '1': ' person', other: ' people'}"></ng-pluralize> infected
		</div>
		<div class="growth">
			{{game.growth | floorDecimal}} infections per second
		</div>

		<div class="virus" id="virus-box" >
			<img id="virus-img" src="img/virus-base.png" ng-click="clickVirus()">

		</div>
	</div>
	<div class="col-sm-4">
	
		<ul class="microbe-list">
			<li ng-repeat="microbe in microbes" ng-class="highlight(microbe)" ng-click="buyMicrobe(microbe)">	
				<img src="img/{{getIcon(microbe)}}-icon.png" class="icon">
				<div class="name">
					{{getName(microbe)}}
				</div>
				<div class="count">{{microbe.count}}</div>
				<div class="cost">{{microbe.cost}}</div>
				
			</li>
		</ul>
	</div>
</div>

<script src="js/animation.js"></script>
